<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longrou.jcamera" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--手机特性要求-->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <application>

        <!--拍摄Activity-->
        <activity
            android:name="com.longrou.jcamera.CameraActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/JCameraTheme"/>

        <!-- Android 7.0 文件共享配置，必须配置 -->
        <provider
            android:name=".provider.CameraProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/j_camera" />
        </provider>
    </application>
</manifest>
